body{
	background-color: #363636;
	color: #8a8a8a;
	font-family: freak out go bananas;
    font-size: 35px;
}	
img{
	width: 100%;	
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
#content {
	width: 75%;
	margin: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	
}
#list{
	background-color: red;
}

/* width will be 100% of content */
#refreshButton{
	  width:200px; 
  height:40px;
  background-color: #555555;
  position: center;
  font-family: freak out go bananas;
  font-size: 35px;
  text-align: center;
  margin-left: 370px;
}
#disconnectButton{
		  width:200px; 
  height:40px;
  background-color: #555555;
  position: center;
  font-family: freak out go bananas;
  font-size: 35px;
  text-align: center;
  margin-left: 370px;
}
img {
		width: 100%
}